name: Build and Publish VCode Extension
on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
jobs:
  build:
    environment:
      name: release
      url: https://pypi.org/p/pytrilogy-vscode
    defaults:
      run:
        working-directory: ./editors/vscode
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: win32
            arch: x64
            npm_config_arch: x64
          - os: ubuntu-latest
            platform: linux
            arch: x64
            npm_config_arch: x64
          - os: ubuntu-latest
            platform: linux
            arch: arm64
            npm_config_arch: arm64
          - os: ubuntu-latest
            platform: linux
            arch: armhf
            npm_config_arch: arm
          - os: ubuntu-latest
            platform: alpine
            arch: x64
            npm_config_arch: x64
          - os: macos-latest
            platform: darwin
            arch: x64
            npm_config_arch: x64
          - os: macos-latest
            platform: darwin
            arch: arm64
            npm_config_arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'
          cache-dependency-path: editors/vscode/pnpm-lock.yaml
      - run: pnpm install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          npm_config_arch: ${{ matrix.npm_config_arch }}
      - shell: pwsh
        run: echo "target=${{ matrix.platform }}-${{matrix.arch}}" >> $env:GITHUB_ENV
      - run: pnpm exec vsce package --target ${{ env.target }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.target }}
          path: "./editors/vscode/*.vsix"

  publish:
    environment:
      name: release
      url: https://pypi.org/p/pytrilogy-vscode
    runs-on: ubuntu-latest
    needs: build
    if: success()
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - uses: actions/download-artifact@v4
      - run: npx @vscode/vsce publish --packagePath $(find . -iname *.vsix)
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}